body {
  font-family: "Lato", "Arial", sans-serif;
  color: $base-color-text;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}
