/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
/* Главная страница */
@import "./blocks/page.scss";
@import "./blocks/title.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo-image.scss";
@import "./blocks/logo-text.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/hero-image.scss";
@import "./blocks/button.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-title.scss";
@import "./blocks/instructions.scss";
@import "./blocks/step.scss";
@import "./blocks/example.scss";
@import "./blocks/fat-cat.scss";
@import "./blocks/slim-cat.scss";
@import "./blocks/geolocation.scss";
@import "./blocks/adress.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";

/* Страница каталога */
@import "./blocks/site-list-catalog.scss";
@import "./blocks/catalog-product.scss";
@import "./blocks/product-card.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/additional-product-card.scss";
@import "./blocks/gift-banner.scss";
@import "./blocks/subscribe.scss";
