button {
  font-family: "Oswald", sans-serif;
  background-color: $base-color-green;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  line-height: 20px;
}
