.catalog-product {
  background-color: #ffffff;
}

.catalog-product__title {
  font-family: "Oswald", sans-serif;
}

.catalog-product__list {
  list-style-type: none;
}

// .catalog-product__item {

// }
