// .catalog {

// }

.catalog__card {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f2f2f2;
  padding: 21px 20px 18px;
}

.catalog__card--loss {
  background-image: url("../../icons/stack.svg#catalog-slim-cat");
  background-repeat: no-repeat;
  background-position: 21px 20px;
  background-size: 50px 53px;
  margin-bottom: 30px;
}

.catalog__card--gain {
  background-image: url("../../icons/stack.svg#catalog-strong-cat");
  background-position: 13px 24px;
  background-repeat: no-repeat;
  background-size: 67px 50px;
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0 0 70px;
  font-weight: 400;
}

.catalog__text {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;
  margin-top: 29px;
  font-family: "lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.catalog__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;


  .catalog__link::after {
    content: "";
    display: block;
    background-color: #000000;
    width: 24px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#catalog-arrow-link");
    mask-size: 24px 12px;
    mask-repeat: no-repeat;
    mask-position: 100%;
    margin-left: 15px;
  }
}

@media (min-width: $tablet-width) {
  .catalog__card {
    padding: 77px 63px 53px;
    margin: 0 auto;
    width: 708px;
  }

  .catalog__card .catalog__title {
    font-family: "Oswald", sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .catalog__text {
    border: none;
    font-family: "lato", "Arial", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 340px;
    display: block;
    padding: 0;
    margin: 24px 0 48px;
  }

  .catalog__card .catalog__link {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 16px;
    color: #000000;
    background-color: #f2f2f2;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
    margin-top: 57px;
    padding: 0;
  }

  .catalog__card--loss {
    background-position: right 63px top 81px;
    background-size: 200px 211px;
    margin-bottom: 30px;
  }

  .catalog__card--gain {
    background-position: right 30px top 78px;
    background-repeat: no-repeat;
    background-size: 268px 200px;
  }
}


@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog__card {
    padding: 41px 61px 55px 52px;
    width: 570px;
    margin: 0;
  }

  .catalog__card .catalog__title {
    font-family: "Oswald", sans-serif;
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    padding: 36px 0 75px 162px;
  }

  .catalog__text {
    width: 457px;
    margin-bottom: 27px;
  }

  .catalog__card .catalog__link {
    margin: 0;
    padding: 0;
  }

  .catalog__card--loss {
    background-position: 42px 41px;
    background-size: 120px 106px;
  }

  .catalog__card--gain {
    background-position: 33px 47px;
    background-size: 134px 100px;
  }
}
