.catalog {
  background-color: #f2f2f2;
}

// .catalog__card {

// }

// .catalog__card--loss {

// }

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.catalog__text {
  font-size: 14px;
  line-height: 18px;
}

.catalog__link {
  font-family: "Oswrad", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
}
