.example {
  background-color: #eaeaea;
}

// .example__title {

// }

.example__discription {
  font-size: 14px;
  line-height: 18px;
}

// .example__info {

// }

.example__value {
  font-family: "Oswrard", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.example__text {
  font-size: 12px;
  line-height: 12px;
}

.example__result {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

// .example__info-price {

// }

.example__slider-cat {
  position: relative;
}

.example__slider-button {
  cursor: pointer;
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: #666666;
  border-radius: 2px;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
}

.example__slider-button::before {
  content: "";
  background-color: #ffffff;
  border-radius: 50%;
  border: solid 2px #666666;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.example__slider-button::after {
  content: "";
  background-color: #666666;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
  padding: 0;
  mask-image: url("../../icons/stack.svg#slider-button-arrow");
  mask-size: 24px 18px;
  mask-position: 50%;
  mask-repeat: no-repeat;
}
// .example__image-cat {

// }
