.geolocation {
  background-color: #ffffff;
}

.geolocation__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.geolocation__adress {
  font-size: 14px;
  line-height: 20px;
}

// .geolocation__map {

// }
