.gift-banner {
  background-image: url("../../images/cat-banner-bg-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 36px 20px;
  padding: 0;
  height: 290px;
  width: 280px;
}

.gift-banner__text {
  color: #ffffff;
  margin: 0 auto;
  display: block;
  max-width: 161px;
  text-align: center;
  padding-top: 43px;

  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#gift-banner-icon");
    background-size: 78px 80px;
    background-repeat: no-repeat;
    background-position: 50% 18px;
    height: 144px;
  }
}

@media (min-width: $tablet-width) {
  .gift-banner {
    background-image: url("../../images/cat-banner-bg-tablet@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 30px;
    height: 200px;
    width: 707px;
    position: relative;
  }

  .gift-banner__text {
    color: #ffffff;
    text-align: start;
    margin: 0 0 0 421px;
    padding-top: 75px;

    &::before {
      width: 81px;
      position: absolute;
      background-size: cover;
      top: 9px;
      left: 77px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift-banner {
    background-image: url("../../images/cat-banner-bg-desktop@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 80px;
    padding: 0;
    height: 288px;
    width: 245px;
  }

  .gift-banner__text {
    color: #ffffff;
    margin: 0 auto;
    display: block;
    max-width: 161px;
    text-align: center;
    padding-top: 186px;
  }
}
