.hero {
  display: flex;
  flex-direction: column;
  min-height: 510px;
}

.hero__wrapper {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
}

.hero__wrapper-mobile {
  z-index: 1;
  background-image: url("../../images/hero-cat-bg-mobile@2x.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 302px;
}

.hero__wrapper-promo {
  justify-content: center;
  width: 100%;
  margin-top: -135px;
  display: flex;
  position: absolute;
}

.hero__title {
  font-size: 36px;
  color: #ffffff;
  padding: 27px 0 25px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
}

.hero__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.hero__button-program {
  line-height: 20px;
  background-color: $base-color-green;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 63px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: 19em;
  min-width: 153px;
  display: block;
}

@media (min-width: $tablet-width) {
  .hero {
    padding-top: 50px;
    background: #ffffff;
    height: 864px;
    margin: 0 auto;
  }

  .hero__wrapper {
    width: 769px;
    margin: 0 auto;
  }

  .hero__wrapper-promo {
    width: 100%;
    margin-top: -100px;
    position: static;
  }

  .hero__wrapper-mobile {
    background-image: none;
    width: 420px;
    padding-left: 120px;
    z-index: 3;
  }

  .hero__title {
    color: #000000;
    text-align: start;
    width: 420px;
    padding-top: 0;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  .hero__text {
    color: #000000;
    text-align: start;
    width: 320px;
    padding-bottom: 52px;
    font-size: 20px;
    line-height: 20px;
  }

  .hero__wrapper-mobile .hero__button-program {
    padding: 14px 27px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    height: 594px;
    margin: 0 30px 55px;
    padding-top: 0;
    display: flex;
  }

  .hero__title {
    padding-top: 55px;
    padding-bottom: 35px;
    font-size: 60px;
    line-height: 60px;
  }

  .hero__wrapper {
    width: 1220px;
    margin: 0 auto;
    display: flex;
  }

  .hero__wrapper-mobile {
    background-image: none;
    padding-left: 80px;
    padding-top: 45px;
  }

  .hero__wrapper-promo {
    position: absolute;
    z-index: 2;
    margin: 0;
    left: 110px;
  }
}

// .hero__image {

// }
