// .hero {

// }

.hero__title {
  line-height: 36px;
  font-size: 36px;
  color: #ffffff;
  background-color: $base-color-green;
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background-color: $base-color-green;
}

// .hero__image {

// }

.hero__button-program {
  font-family: "Oswald", sans-serif;
  background-color: $base-color-green;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
