.hero {
  display: flex;
  flex-direction: column;
  background: linear-gradient($base-color-green 65%, #ffffff 65%);
  // background-image: url("../../images/hero-cat-bg-mobile@1x.png");
  // background-repeat: no-repeat;
}

.hero__wrapper {
  margin: 0 auto;
}

.hero__title {
  line-height: 36px;
  font-size: 36px;
  color: #ffffff;
  background-color: $base-color-green;
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background-color: $base-color-green;
  text-transform: uppercase;
}

.hero__button-program {
  font-family: "Oswald", sans-serif;
  background-color: $base-color-green;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 280px;
  padding: 10px 63px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .hero {
    background: #ffffff;
  }

  .hero__title {
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    padding: 65px 200px 40px 120px;
  }

  .hero__text {
    color: #000000;
    background-color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 40px 365px 21px 120px;
  }

  .hero__button-program {
    padding: 13px 27px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background: linear-gradient($base-color-green 65%, #ffffff 65%);
  }
}

// .hero__image {

// }
