.instructions {
  background-color: #ffffff;
}

// .instructions__title {

// }

.instructions__list {
  list-style-type: none;
}

// .instructions__item {

// }

.instructions__discription {
  font-size: 14px;
  line-height: 18px;
}
