.main-nav {
  position: relative;
  width: auto;
}

.main-nav__list {
  text-align: center;
}

.main-nav__toggle {
  position: absolute;
  bottom: 20px;
  right: 6px;
  background-image: url("../../icons/stack.svg#button-open-mobile");
  background-color: #ffffff;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../icons/stack.svg#button-open-mobile");
  position: absolute;
  top: -45px;
  right: 6px;
  background-color: #ffffff;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../icons/stack.svg#button-close-mobile");
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav__list {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    background: none;
  }
}
