.main-footer {
  background-color: #f2f2f2;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__wrapper {
  display: flex;
}

.main-footer__logo {
  display: block;
  text-align: center;
  padding: 40px 96px 14px;
}

.main-footer__logo-link {
  width: 128px;
  display: block;
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;
}

// .main-footer__social {

// }

// .main-footer__copyright {

// }
@media (min-width: $tablet-width) {
  .main-footer {
    background-color: #f2f2f2;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
  }

  .main-footer__logo,
  .main-footer__logo-link {
    width: 128px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 0 110px;
    min-height: 169px;
  }
}
