.main-footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.main-footer__wrapper {

  flex-direction: column;
  align-items: center;
  display: flex;
}

.main-footer__logo {
  display: block;
  text-align: center;
  padding: 40px 96px 14px;
}

.main-footer__logo-link {
  width: 128px;
  display: block;
}

.main-footer__logo-text {
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 708px;
  }

  .main-footer {
    width: 100%;
    padding: 57px 30px;
    margin: 0 auto;
  }

  .main-footer__logo,
  .main-footer__logo-link {
    width: 128px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    display: flex;
  }

  .main-footer {
    width: 100%;
    min-height: 169px;
    margin: 0 auto;
    padding: 0 110px;
    align-items: center;
    justify-content: center;
  }
}
