.main-header {
  background-color: #ffffff;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;
}

.main-header__logo {
  padding: 12px 20px;
}

.main-header__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 71%;
  justify-content: space-between;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  height: 38px;
}

.main-header__logo-text {
  height: 20px;
}

@media (min-width: $mobile-width-only) {
  .main-header {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 704px;
    margin: 0;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    &--wrapper-position {
      margin: 25px auto;
      width: 704px;
    }
  }

  .main-header__logo-image {
    height: 50px;
    width: 70px;
  }

  .main-header__logo-text {
    height: 100%;
    width: 100px;
  }

  .main-header__logo-link {
    text-decoration: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 174px;
  }

  .main-header__logo {
    width: 174px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 55px;
    width: 1220px;
    background: none;
    z-index: 2;
    margin: 0 auto;

    &--wrapper-position {
      margin: 0 auto;
      min-width: 1440px;
      padding: 47px 109px 30px;
    }
  }

  .main-header__logo {
    width: 202px;
    margin: 0;
    padding: 0;
  }

  .main-header__logo-link {
    width: 202px;
  }

  .main-header__logo-image {
    height: 70px;
  }

  .main-header__logo-text {
    height: 100%;
    width: 118px;
  }
}
