@media (min-width: $desktop-width) {
  .page__body {
    position: relative;


    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50%;
      height: 697px;
      right: 0;
      top: 0;
      background-image: url("../../images/hero-cat-bg-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: cover 1040px 697px;
      background-position: left 0 top 0;
      z-index: 1;
    }
  }

  .page__main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: 100% 697px;
    flex-grow: 1;
  }
}
