// .product-card {

// }

// .product-card--more {

// }

.product-card__text {
  font-size: 12px;
  line-height: 16px;
}

.product-card__button-all-products {
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-family: "Osward", sans-serif;
  text-decoration: none;
}

// .product-card__link-image {

// }

// .product-card__image {

// }

// .product-card__info {

// }

.product-card__link-title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.product-card__list {
  text-transform: none;
}

.product-card__item {
  list-style-type: none;
}

.product-card__property {
  font-size: 12px;
  line-height: 16px;
}

.product-card__value {
  font-size: 12px;
  line-height: 16px;
}

.product-card__button {
  font-size: 16px;
  line-height: 20px;
}
