.site-list-catalog__link {
  color: #000000;
}

@media (min-width: $desktop-width) {
  .site-list-catalog__link-current {
    border-bottom: 2px solid $base-color-green;
    padding-bottom: 6px;
  }

  .site-list__item .site-list-catalog__link {
    font-size: 20px;
    line-height: 29px;
  }
}
