// .social {

// }

// .social__list {

// }

.social__item {
  list-style-type: none;
}

.social__link {
  min-width: 28px;
  min-height: 28px;
}

.social__link--vkontakte {
  display: block;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#vkontakte-icon");
  mask-position: center;
  mask-repeat: no-repeat;
  width: 27px;
  height: 17px;
}

.social__link--vkontakte:hover {
  background-color: $base-color-green;
}

.social__link--youtube {
  display: block;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#youtube-icon");
  mask-position: center;
  mask-repeat: no-repeat;
  width: 24px;
  height: 18px;
}

.social__link--youtube:hover {
  background-color: $base-color-green;
}

.social__link--telegram {
  display: block;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#telegram-icon");
  mask-position: center;
  mask-repeat: no-repeat;
  width: 20px;
  height: 17px;
}
