.step {
  &--one {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#instruction-leaf-icon");
      width: 60px;
      height: 60px;
      display: inline-block;
    }
  }

  &--two {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#instruction-water-icon");
      width: 60px;
      height: 60px;
      display: inline-block;
    }
  }

  &--three {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#instruction-tableware-icon");
      width: 60px;
      height: 60px;
      display: inline-block;
    }
  }

  &--four {
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#instruction-clock-icon");
      width: 60px;
      height: 60px;
      display: inline-block;
    }
  }
}

@media (min-width: $tablet-width) {
  .step {
    &--one {
      background-image: url("../../icons/step-one.svg");
      background-size: 112px 230px;
      background-repeat: no-repeat;
      background-position: 106px 38px;

      &::before {
        margin-top: 40px;
        bottom: 10px;
        width: 80px;
        height: 80px;
      }
    }

    &--two {
      background-image: url("../../icons/step-two.svg");
      background-size: 112px 230px;
      background-repeat: no-repeat;
      background-position: 123px 38px;


      &::before {
        margin-top: 40px;
        width: 80px;
        height: 80px;
      }
    }

    &--three {
      background-image: url("../../icons/step-three.svg");
      background-size: 112px 230px;
      background-repeat: no-repeat;
      background-position: 124px 38px;

      &::before {
        margin-top: 40px;
        width: 80px;
        height: 80px;
      }
    }

    &--four {
      background-image: url("../../icons/step-four.svg");
      background-size: 134px 230px;
      background-repeat: no-repeat;
      background-position: 116px 38px;

      &::before {
        margin-top: 40px;
        width: 80px;
        height: 80px;
      }
    }
  }
}
