// .step {

// }

@media (min-width: $tablet-width) {
  .step--one::before {
    background-image: url("../../icons/stack.svg#instruction-leaf-icon");
    width: 80px;
    height: 80px;
  }
}

.step--one::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-leaf-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

.step--two::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-water-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

.step--three::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-tableware-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}

.step--four::before {
  content: "";
  background-image: url("../../icons/stack.svg#instruction-clock-icon");
  width: 60px;
  height: 60px;
  display: inline-block;
}
