// .subscribe {

// }

.subscribe__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 24px;
}

.subscribe__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

// .subscribe__form {

// }

// .ubscribe__field {

// }

.subscribe__button {
  font-size: 20px;
  line-height: 26px;
}
