.subscribe {
  border-top: 2px solid #68b738;
  padding-bottom: 40px;
}

.subscribe__wrapper {
  width: 320px;
  margin: 0 auto;
}

.subscribe__title {
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  width: 236px;
  margin: -14px 0 32px -22px;
  font-family: "oswald", "Arial", sans-serif;
  font-weight: 400;
}

.subscribe__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  width: 280px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px 24px;
}

.subscribe__form {
  width: 320px;
  margin: 0 20px;
}

.subscribe__field {
  text-transform: uppercase;
  border: 2px solid #000000;
  width: 280px;
  height: 56px;
  padding-left: 13px;
  font-family: "oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.subscribe__button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  border-style: none;
  margin-top: 16px;
  padding: 15px 81px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe__button:hover {
  cursor: pointer;
  background-color: #5eaa2f;
}

.subscribe__button:active {
  cursor: pointer;
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .subscribe__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .subscribe__title {
    text-align: center;
    background-color: #ffffff;
    width: 282px;
    margin-top: -15px;
    margin-bottom: 66px;
    margin-left: 30px;
    font-size: 32px;
    line-height: 32px;
  }

  .subscribe__text {
    text-align: center;
    width: 632px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 32px;
  }

  .subscribe__form {
    display: flex;
    width: 632px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
  }

  .subscribe__field {
    border: 1px solid #cdcdcd;
    width: 376px;
  }

  .subscribe__button {
    margin-top: 0;
    padding: 15px 69px;
    font-size: 20px;
    line-height: 26px;
  }

  .subscribe {
    padding-bottom: 78px;
  }
}


@media (min-width: $desktop-width) {
  .subscribe__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .subscribe__title {
    width: 333px;
    margin-top: -20px;
    margin-bottom: 70px;
    margin-left: 70px;
    font-size: 40px;
    line-height: 40px;
  }

  .subscribe__text {
    width: 1360px;
  }

  .subscribe__form {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    width: 752px;
  }

  .subscribe__field {
    width: 496px;
  }

  .subscribe__button {
    margin-top: 0;
    padding: 15px 69px;
    font-size: 20px;
    line-height: 26px;
  }

  .subscribe {
    padding-bottom: 104px;
  }
}
